<div class='faq'>
  <% collapse_opts = {
    class: 'btn btn-default',
    role: 'button',
    data: { toggle: 'collapse' },
    href: '#note_faq',
    'aria-expanded': 'false',
    'aria-controls': 'note_faq'
  } %>

  <%= content_tag(:a, collapse_opts) do %>
    <i class='fa fa-question-circle'></i>
  <% end %>

  <div class='collapse' id='note_faq'>
    <span class='question'>What are notes?</span>
    <span class='answer'>You can attach any useful snippets, research, observations, etc to a Contact or Job Application.</span>
    <br />
    <span class='question'>How do I add a new note?</span>
    <span class='answer'>Do it from a <%= link_to('Contact', contacts_path) %> or <%= link_to('Job Application', job_applications_path) %>.</span>
  </div>
</div>
