# Ignore environment variables with sensitive login info
.env*
config/env_vars.yml

# Ignore redis dump file
dump.rdb

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore code coverage reports
coverage/
