<p>
  <strong>Name: </strong><%= @user.name %>
</p>

<p>
  <strong>Provider: </strong><%= @user.provider.titleize %>
</p>

<p>
  <strong>UID: </strong><%= @user.uid %>
</p>

<%= link_to 'Back', :back %>
