<div class='users register_or_login'>
  <h3>Don't have an account?</h3>

  <ul>
    <li>
      <%= link_to '/register' do %>
        <i class='fa fa-pencil'><span>Register for one</span></i>
      <% end %>
    </li>
  </ul>

  <h4>OR</h4>

  <ul class='omni_auth_options'>
    <%= render 'shared/omni_auth_options' %>
  </ul>
</div>
