<div class='users'>
  <h3>Don't have an account?</h3>

  <p>
    <i class='fa fa-pencil'></i>
    <%= link_to('Register for one', '/register') %>
  </p>

  <h4>OR</h4>

  <p>
    <i class='fa fa-github'></i>
    <%= link_to('Login via GitHub',  '/auth/github') %>
  </p>
  <p>
    <i class='fa fa-google'></i>
    <%= link_to('Login via Google',  '/auth/google') %>
  </p>
  <p>
    <i class='fa fa-twitter'></i>
    <%= link_to('Login via Twitter', '/auth/twitter') %>
  </p>
</div>
