<div class='users register_or_login'>
  <h3>Don't have an account?</h3>

  <ul>
    <li>
      <i class='fa fa-pencil'></i>
      <%= link_to('Register for one', '/register') %>
    </li>
  </ul>

  <h4>OR</h4>

  <ul class='omni_auth_options'>
    <%= render 'shared/omni_auth_options' %>
  </ul>
</div>
