<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Sent Date</th>
      <th>Content</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% attached = job_application.cover_letter %>
    <% content = truncate(attached.content) %>
    <% default_link_dest = job_application_cover_letter_path(job_application) %>
    <% edit_link_dest = edit_job_application_cover_letter_path(job_application) %>

    <tr>
      <td><%= attached.sent_date.to_s('month date year') %></td>
      <td><%= link_to(content, default_link_dest) %></td>
      <td>
        <%= link_to 'Edit', edit_link_dest %><br />
        <%= link_to 'Delete', default_link_dest, delete_link_opts %>
      </td>
    </tr>
  </tbody>
</table>
