<div class='faq'>
  <% collapse_opts = {
    class: 'btn btn-default',
    role: 'button',
    data: { toggle: 'collapse' },
    href: '#job_application_faq',
    'aria-expanded': 'false',
    'aria-controls': 'job_application_faq'
  } %>

  <%= content_tag(:a, collapse_opts) do %>
    <i class='fa fa-question-circle'></i>
  <% end %>

  <div class='collapse' id='job_application_faq'>
    <span class='question'>How do I add a new <%= resource_name %>?</span>
    <span class='answer'>Do it from a <%= link_to('Job Application', job_applications_path) %>.</span>
  </div>
</div>
