<% @page_title = "Editing application for #{@job_application.title}" %>

<h1>Editing Job Application</h1>

<%= render(partial: 'form', locals: { show_select_active: true }) %>

<%= link_to 'Show', @job_application %> |
<%= link_to 'Back', job_applications_path %>
