<li>
  <%= link_to '/auth/github' do %>
    <i class='fa fa-github'><span>Login via GitHub</span></i>
  <% end %>
</li>
<li>
  <%= link_to '/auth/google' do %>
    <i class='fa fa-google'><span>Login via Google</span></i>
  <% end %>
</li>
<li>
  <%= link_to '/auth/twitter' do %>
    <i class='fa fa-twitter'><span>Login via Twitter</span></i>
  <% end %>
</li>
