<h2>FAQ</h2>

<h3>What is this?</h3>

<p>A job search organizer.</p>
<p>Use it to track applications you've sent out, the companies it was sent to,
people you've spoken with and the status of your applications. Attach any cover
letters or posting to a job application for your reference. Take notes on your
contacts &amp; and applications.</p>

<h3>Why would I need this?</h3>

Because you need help tracking your next opportunity.

<h3>How do I get started?</h3>

Login, register or sign-in via a 3rd party service.

<h3>Does this cost money?</h3>

No, it's completely free. It should not cost anything to look for a job.

<h3>Is this private?</h3>

Yes, all information you save is for your eyes only.

<h3>Who are you?</h3>

<p>
  <%= link_to('Rafael Espinoza',
              'http://www.rafaelespinoza.com',
              target_blank) %>.
</p>

I made this to help me look for a job and thought others could use it too.

<h3>What technologies do you use?</h3>

<p>
Primarily Ruby on Rails, Postgres, Redis.
</p>
<p>
It is thoroughly tested with RSpec. The entire suite of over 700 unit tests
completes in a matter of seconds.
</p>

<p>
  Checkout the
  <%= link_to 'source code on GitHub',
    'https://github.com/NerdDiffer/job_tracker/',
    target_blank %>.
</p>

<h3>How can I contact you?</h3>

<p>
  <%= mail_to('rafael@rafaelespinoza.com', 'Send me an email') %>.<br />
  Call me at (510) 788-0741.
</p>

<p>
If you're a developer and you'd like to
contribute, please write or open up a
<%= link_to('GitHub issue',
            'https://github.com/NerdDiffer/job_tracker/issues',
            target_blank) %>.
</p>
