<p>
  This is an open source project, actively developed by
  <%= link_to 'Rafael Espinoza',
    'http://www.rafaelespinoza.com',
    target_blank %>.<br />
  The source code is available on
  <%= link_to 'GitHub',
    'https://github.com/NerdDiffer/job_tracker/',
    target_blank %>.
</p>

<p>
  <h4>Questions, Suggestions, Feedback?</h4>
  <%= mail_to('rafael@rafaelespinoza.com', 'Send me an email') %>
</p>
