<h1>Editing <%= @company.name %></h1>

<p><%= link_to 'Back', company_path(@company) %></p>

<h3>Current categories</h3>
<% @company.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>

<hr />

<%= render 'form' %>
