// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_company, form.edit_company {
  .company_categories_checkboxes ul {
    list-style: none;
    padding-left: 1rem;

    li {
      width: 12em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px transparent solid;
      display:inline-block;
      margin-bottom: 0.5rem;

      input {
        vertical-align: middle;
        &[type='checkbox'] {
          margin-top: 0;
          margin: 0 .25em 0.1rem;
        }
      }
      label {
        margin-left: 0.5rem;
        margin-bottom: 0;
      }
      &:hover, &:focus {
        @include darken_background_intensity(10%);
        border: 1px solid $warriors-black;
        width: 12em;
      }
    }
  }
}
