// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contacts {
  &.table {
    table-layout: fixed;
    th {
      &.name, &.company {
        width: 20%;
      }
      &.phone.email {
        width: 40%;
      }
      &.actions {
        width: 20%;
      }
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }
    td {
      &.email {
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
    }
  }
}
