// Place all the styles related to the job_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.job_applications.index {
  th, td {
    &.active_application {
      @media (max-width: $screen-sm-min) {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        & button {
          padding: 3px 6px;
        }
      }
    }
  }
}

.job_applications {
  .attached_records {
    @include table_3_cols;
  }
}

table.postings.index {
  th, td {
    &.content {
      @media (max-width: $screen-sm-min) {
        display: none;
      }
    }
  }
}
