@import 'variables';

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $main_background_color;
  color: $warriors-black;
}

/* Container */
.container {
  @media (min-width: $screen-sm-min) {
    max-width: 730px;
    padding-left: 0;
    padding-right: 0;
  }
}
.container-narrow > hr {
  margin: 2.2rem 0;
}

// Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Header */
.header {
  // Make the masthead heading the same height as the navigation
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }
}

/* Footer */
.footer {
  padding-top: 1.6rem;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Navigation */
nav {
  font-size: 1.3rem; // just enough to get links to fit on one line

  &.navbar-inverse {
    background-color: $nav_background_color;
    border-radius: 0.5rem;

    & .navbar-brand, & .navbar-nav > li > a {
      color: $text_color_on_dark_background;
    }
    ul.nav > li > a:hover {
      @include nav_background_opposing_intensity(5%)
    }
    li.open a.dropdown-toggle:focus {
      @include nav_background_opposing_intensity(10%)
    }
    ul.nav {
      & > li > a {
        padding: 0.5rem 0.75rem;
      }
    }
    ul.nav-pills {
      padding: 0.5rem 0;
      & > li {
        margin-top: 0.7rem;
        @media (max-width: $screen-sm-min) {
          float: none;
        }
      }
      &  > li > a {
        border-radius: 0.5rem;
      }
    }
  }
}

/* Main content div */
.content {
  margin-top: 1.5rem;
  border-top: 1px solid #e5e5e5;
}

/* Lists */
ul.omni_auth_options {
  li { @include link_wraps_font_awesome; }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm-min) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2.2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Tables */
table {
  &.table-hover > tbody > tr:hover {
    @include table_row_on_hover
  }
  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: darken($main_background_color, 3%);
    &:hover {
      @include table_row_on_hover
    }
  }
  td.actions {
    list-style-type: none;
    width: 10%;
  }
}

/* div stuff */
textarea.md_edit {
  font-family: $fixed-width-fonts;
}

/* links */
a.add_new_member {
  @include link_wraps_font_awesome;
  float: right;
}

/* FAQ */
.faq {
  float: right;
  text-align: right;
  @include faq_allow_inline;

  .question {
    font-style: italic;
  }
  .question, .answer, i {
    clear: both;
    font-size: 1.2rem;
    display: block;
  }
  a.btn {
    float: right;
    margin: 1rem 0;
    clear: both;
  }
  .collapsing {
    clear: both;
  }
}

h1.allow_inline {
  @include faq_allow_inline;
}
