@mixin table_3_cols {
  th {
    &:nth-of-type(1)      { width: 15%; }
    &:nth-last-of-type(1) { width: 15%; }
  }
}

@mixin table_row_on_hover { background-color: white; }

@mixin omni_auth_options {
  display: block;
  a { margin-left: 0; }
  span {
    font-family: 'Helvetica';
    margin-left: 10px;
  }
}

@mixin nav_background_opposing_intensity($pct) {
  background-color: lighten($nav_background_color, $pct);
  color: darken($text_color_on_dark_background, $pct);
}

@mixin darken_background_intensity($pct) {
  background-color: darken($main_background_color, $pct);
}
