div {
  &.field, &.actions {
    margin-bottom: 1rem;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 0.2rem;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 70%;
  border: 2px solid red;
  padding: 0.7rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-size: 1.2rem;
    margin: -0.7rem;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 1.2rem;
    list-style: square;
  }
}
