/* Colors */
$as-green:        #003831; // Oakland A's green
$as-yellow:       #FFD800; // Oakland A's yellow
$giants-beige:    #FFFDD0; // SF Giants beige

$warriors-yellow: #FDB927;
$warriors-blue:   #006BB6;
$warriors-black:  #26282A;

$cleveland-browns-orange: #FB4F14;
$cleveland-browns-brown:  #22150C;
$cleveland-browns-silver: #A5ACAF;

$main_background_color: $giants-beige;
$nav_background_color: $warriors-black;
$jumbotron_background_color: $warriors-black;
$text_color_on_dark_background: white;

/* Fonts */
$fixed-width-fonts: 'Courier New', 'Courier', 'fixed-width';
