<% @page_title = "Editing cover letter for #{@cover_letter.job_application_title}" %>

<h1>Editing Cover Letter</h1>

<%= render 'form' %>

<%= link_to 'Show', job_application_cover_letter_path %> |
<%= link_to 'Back', :back %>
