<% button_opts = {
  type: 'button',
  class: 'navbar-toggle collapsed',
  'aria-expanded' => 'false',
  data: {
    toggle: 'collapse',
    target: '#collapse_target'
  }
} %>

<%= button_tag(button_opts) do %>
  <span class='sr-only'>Toggle navigation</span>
  <% 3.times do %>
    <%= content_tag(:span, nil, class: 'icon-bar') %>
  <% end %>
<% end %>
