<div class='container-fluid'>
  <div class='navbar-header'>
    <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  </div>
  <div class='collapse navbar-collapse'>
    <% dropdown_opts = {
      class: 'dropdown-toggle',
      role: 'button',
      data: { toggle: 'dropdown' }
    } %>
    <% locals = { dropdown_opts: dropdown_opts } %>

    <% if logged_in? %>
      <%= render(partial: 'navigation/user', locals: locals) %>
    <% else %>
      <%= render(partial: 'navigation/guest', locals: locals) %>
    <% end %>
  </div>
</div>
